@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=EB+Garamond);

h2, h3, h4 {
    font-family: 'Crimson Text', Garamond, serif;
}

#author {
    font-weight: 400;
    font-style: italic;
    text-align: center;
}

#title {
    text-align: center;
}

#quote {
    font-family: 'EB Garamond';
    text-align: center;
    font-size: 1.2em;
}

.small-caps {
    font-family: 'Crimson Text', Garamond, serif;
    font-weight: 700;
    line-height: 0em;
    display: inline;
    font-style: normal;
}